:root{
    --background-color:#EEF1EB;
    --orange-color-dark:#C84801;
    --light-color:#D8BA94;
    --medium-color:#D09D73;
    --dark-color:##261308
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background-color:var(--background-color) ;


}
h1,h2,h3,p,a,button{
    color:var(--orange-color-dark) ;
}

/* navigation bar css */

.navbar{
    display: flex;
    justify-content: space-between;
    padding:0.5rem 5rem;
    align-items: center;
    background-color: var(--light-color);
    width: 100%;
}

.navbar .menu ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

a{
    text-decoration: none;
    
    font-weight: 700;
}

.navbar .cart_login_icon{
    display:flex ;
    align-items: center;
    gap: 2rem;
}

.navbar .cart_login_icon button{
    
    border: 2px solid var(--orange-color-dark);
    
    font-size: 1.2rem;
    width:5.5rem ;
    height: 2.75rem;
    text-align: center;
    background:none
}

.navbar .toggle_hamburger{
    display: none;
    color: var(--orange-color-dark);
    font-size: 3rem;
}
/* ################### Navbar css end ############################# */

/* hero section css start */

.container_hero{
    width: 100%;
    padding: 1.5rem 0rem;
    display: flex;
    background-color:var(--light-color) ;
    margin-bottom: 4rem;
}

.left_container{
    width: 50%;
    padding: 0rem 5rem;
}

.left_container h1{
    font-size: 5rem;
    line-height: 5rem;
    
    font-weight:400 ;
    padding-bottom: 2rem;
}

.left_container p{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
    
}

.left_container button{
    padding: 0.625rem;
    margin-top: 0.625rem;
    border:none;
    background-color: var(--orange-color-dark);
    color: white ;
    width: 10.75rem;
    font-size: 1rem;
    
}
.right_container{
    width: 50%;
}

.hero_image_container{
    max-width:27rem ;
    max-height: 30rem;
    /* border: solid; */
    overflow: hidden;
    margin: auto;
    background-color: #c86f3d;
    border-radius: 50px;
    
}

.hero_image_container img{
    width: 100%;
    object-fit: contain;
}

/* ################### Hero Section CSS end ############################# */


/* ##### best Selling section start #### */

.best_selling_section h1{
font-size: 4rem;
font-weight: 400;
color: var(--orange-color-dark);
text-align: center;
}

.best_selling_card_container{
display: flex;
justify-content: center;
gap: 4rem;
flex-wrap: wrap;
padding: 3rem 0rem ;

/* border: solid; */
/* flex: 1 0 350px; */
}

.best_selling_card_container .card{
background-color: var(--medium-color);
max-width: 20rem;
border-radius: 10px;

}

.best_selling_card_container .card img{
    width: 100%;
    height: auto;
}

.card .card_img{
    max-height: 78%;
    overflow: hidden;
}

.best_selling_card_container .card h3{
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

 .best_selling_price_rating{
    color: var(--orange-color-dark);
    font-size:1.5rem ;
    text-align: center;
}

.rating{
    padding-left: 1rem;
    border-left: solid var(--orange-color-dark) ;
}
.best_selling_price{
    padding-right: 1rem;
}

.star{
    color: rgb(249, 217, 36);
}

.best_selling_seemore{
    display: block;
    padding: 0.7rem;
    margin: auto;
    border: 2px solid var(--orange-color-dark);
    font-weight: 500;
    font-size: 1.5rem;
    background:none
}

/* ################### best Selling Section CSS end ############################# */





/*################# Categories Section start################*/
.categories_container{
    margin-top: 5rem;
}
.categories_container h1{
font-size: 4rem;
font-weight: 400;
text-align: center;
}

.categories_container .cat_button_div{
    display: flex;
    /* border: solid; */
    justify-content: center;
    flex-shrink: 1;
    
}



.cat_button_div .categories_buttons button{
    box-sizing: border-box;
    width: max-content;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    margin: 1rem 1rem;
    border: 2px solid transparent;
    font-weight:500;
    background: none;
    cursor: pointer;
}

.cat_button_div .categories_buttons button:hover{
    border-bottom: 2px solid;
}

.categories_card_container{
    
    padding:0rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,280px));
    gap: 2rem;
    justify-content: center;
    
}

.categories_card_container .cat_card h3{
    
text-align: center;
padding-bottom: 0.5rem;
}





/* ################### categories Section CSS end ############################# */











/* Media Query Start */
@media only screen and (max-width: 768px){
    .navbar{
       width: 100%; 
       padding:0.5rem 2rem;
    }
    .navbar .menu{
        display: none;
    }

    .navbar .cart_login_icon{
        display: none;
    }

    .navbar .toggle_hamburger{
        display: inline-block;
    }

    /* hero section responsive */

    .container_hero{
        flex-direction: column;
    }

    .left_container{
        width: 90%;
        
        margin: 5%;
        /* text-align: center; */
    }
    .left_container h1{
        font-size: 4rem;
    }

    .right_container{
        width: 90%;
        
        margin: 5%;
    }

    .hero_image_container{
        margin: auto;
    }

    .cat_button_div .categories_buttons button{
        padding: 0.5rem 1rem;
    }

    


}

