:root{
    --background-color:#EEF1EB;
    --orange-color-dark:#C84801;
    --light-color:#D8BA94;
    --medium-color:#D09D73;
    --dark-color:##261308
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}